.searchList {
  text-align: left;
}

.searchList ul {
  margin: 1rem 0;
  padding-left: 20px;
}

.active {
  background: green;
}

pre {
  background: #222;
  padding: 5px;
  max-height: 60vh;
  overflow: auto;
}
